.nav-wrap{
  background-color: $oil;

}

.top-bar-section{
  ul{
    li > a{
      font-family: 'proxima_nova_rgbold';
      text-transform: uppercase;
    }
  }
  .main-nav{
    padding-top: 55px;
    @media #{$small-only} {
      padding-top: 0;
    }
  }
}

.top-bar {
  height: 6.900rem;
  .title-area {
    padding: 25px 0 28px 0;
  }
}

.top-bar-section li.active:not(.has-form) a:not(.button){
  background-color: transparent;
  color: $primary-color;
}
.top-bar-section li:not(.has-form) a:not(.button):hover{
  color: $primary-color;
}

.top-bar-section li.active:not(.has-form) a:not(.button):hover{
  background-color: transparent;
}
