@font-face {
  font-family: 'proxima_nova_rgbold';
  src: url('../fonts/proximanova-bold-webfont.eot');
  src: url('../fonts/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/proximanova-bold-webfont.woff') format('woff'),
  url('../fonts/proximanova-bold-webfont.ttf') format('truetype'),
  url('../fonts/proximanova-bold-webfont.svg#proxima_nova_rgbold') format('svg');
  font-weight: normal;
  font-style: normal;

}


@font-face {
  font-family: 'proxima_nova_rgregular';
  src: url('../fonts/proximanova-regular-webfont.eot');
  src: url('../fonts/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/proximanova-regular-webfont.woff') format('woff'),
  url('../fonts/proximanova-regular-webfont.ttf') format('truetype'),
  url('../fonts/proximanova-regular-webfont.svg#proxima_nova_rgregular') format('svg');
  font-weight: normal;
  font-style: normal;

}

body{
  font-family: 'proxima_nova_rgregular';
}
h1, h2, h3, h4, h5, h6, .top-bar-section ul li{
  font-family: 'proxima_nova_rgbold';
  text-transform:uppercase;
}

h1, h2, h3, h4, h5, h6, .top-bar-section ul li{
  font-family: 'proxima_nova_rgbold';
  text-transform:uppercase;
}

h1,h2{
  font-size:1.857em;
  padding-top:12px;
  padding-bottom:0px;
  margin-bottom:0px;
}

h4{
  font-size:1.000em;
  text-transform:capitalize;
}

p{
  line-height:1.4;
}
